.select {
	background-color: yellow;
	color: red;
}
.oculto {
	visibility: hidden;
}
div.oculto {
	position: absolute;
	left: 5000px;
}

span {
	color: red;
}

#autornull, #anionull, #editorialnull {
	color: orange;
}
.seleccionado {
	background-color: yellow !important;
	color: red;
}

tr,th{
	text-align: center;
	background-color:  #B4C9CC;
	border color: red;
}
.linea{
	background-color:  white;
}