/*Estilo para el fieldset del formulario*/
.marco {
    border: 1px solid rgb(190, 211, 214) !important;
    border-radius: 5px;
    width: 80%;
    padding: 1em;
    margin-bottom: 2em;
}

/*Estilo para el espacio reservado al botón de reset*/
legend {
    text-align: right;
    width: 7%;
    padding:0 10px;
    border-bottom:none;
}

/*Estilo del botón de reset*/
#resetear {
    background-color: #B4C9CC;
    border-radius: 50%;
    border: none;
    padding: 2px 7px;
    color: red;
}

/*Estilo por defecto para todos los span (se utilizan para avisos)*/
span {
	color: red;
    font-weight: 600;
}

/*Estilo para los span de validación OPCIONAL*/
#autornull, #anionull, #editorialnull {
	color: #a8410f;
}

/* para que no se vea la columna oculta (sino el espacio que ocupa se ve blanco)*/
.sr-only {
    display: none; 
}

/*Estilo para la fila de la tabla seleccionada*/
.seleccionado {
	background-color: #F2A6A3 !important;
	color: red;
}

/*Estilo para las celdas del encabezado y las líneas tabla*/
tr,th{
	text-align: center;
	background-color:  #B4C9CC;
}

/*Estilo para las celdas de las líneas*/
.linea{
	background-color:  white;
}

tfoot tr {
    text-align: left;
}

/*Estilo para los cuadros del formulario*/
.rebonico{
	border:solid 1px black;
}

/*Estilo para botones de la botonera*/
#botones button{
    min-width: 10em;
}

/*Estilo del título de la página*/
h1{
	color: darkgrey;
	background-color: #0C3F0E;
}

/*Estilo del body/fondo*/
body{
	background-color: #DBAD89;
    overflow-x: hidden;
}

#contform {
    margin-right: -8em;
}
#botones {
    position: relative;
    top: 6em;
}
p {
    margin-left: 5%;
}

#busqueda {
    font-size: 1.5em;
    font-weight: bold;
}

#resultado {
    font-size: 3em;
    font-weight: bold;
    color: #a8410f;
}
.ayuda{
    background-color: transparent;
    border: none;
    float:right;
    font-size: .9em;
}
#exit{
    color:red;
    position: relative;
    top: -0.3em;
    font-size: 1.5em;
}
#myframe {
    position: fixed;
    width: 80%;
    height: 65%;
    border:0;
}
#boxht {
    position:fixed;
    display: none;
    width: 80%;
    z-index: 100;
    top:16%;
    left:10%;
    height:65%;
    padding-bottom:0px;
    /* border: 2px solid #dfdfdf; */
    /* -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background:#ffffbb; */
}
#textoa{
    position: absolute;
    background-color: #f3e4d8 ;
    color: black;
   text-align:left;
    padding: 0;
    top:0;
    border-radius: 6px;

}
h2{
    /* position: fixed; */
    top:16%;
    width:80%;
    left:10%;
    text-align: center;
    background-color: green;
    height: 2em;
    z-index: 30;
    border: 1px solid black ;
    border-radius: 6px;
    margin-top:0;
    

}
#textocontenido {

}
#spanco{
    padding: 3px 1em;
    color:white;
}
h3,h4 {
    padding: .5em .5em;
}
@media screen and (max-width: 767px) and (min-width: 591px) {
    #textoa{
        width: 95%;
        left: 2%;
        padding-left: .5em;
        padding-right: .5em;
    }

    h2{
        font-size: 1.3em;
        padding: 5px 0;
        background-color: green;
        width:86%;
        margin-left: 4%;
        margin-top:0;
    }
    #spanco {
        background-color: transparent;
        color: white;
    }
    #exit{
        top: -0.2em;
        font-size: 1.5em;
    }
    #contform {
        position: relative;
        width: 100%;
    }
    #botones {
        position: relative;
        top: -.5em;
        text-align: center;
        /* padding-left: 2%; */
    }
    #botones button{
        display: inline-block;
        min-width: 26em;
        margin-top: 1em;
    }
    label {
        min-width: 6em;
    }
    article#tabla {
        position: relative;
        top: 1.5em;
    }
    .marco {
        width: 105%;
    }
}

@media screen and (max-width: 590px) and (min-width: 376px) {
    #textoa{
        width: 96%;
        left: 2%;
        padding-left: .5em;
        padding-right: .5em;
    }

    h2{
        font-size: 1.1em;
        padding: 5px 0;
        background-color: green;
        width:86%;
        margin-left: 2%;
    }
    #spanco {
        background-color: transparent;
        color: white;
    }
    #exit{
        top: -0.2em;
        font-size: 1.5em;
    }
    #contform {
        position: relative;
        width: 100%;
    }
    #botones {
        position: relative;
        top: -.5em;
        text-align: center;
    }
    #botones button{
        display: inline-block;
        min-width: 20em;
        margin-top: 1em;
    }
    label {
        min-width: 6em;
    }
    article#tabla {
        position: relative;
        top: 1.5em;
    }
    .marco {
        width: 105%;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 2.2em;
    }
    #textoa{
        width: 96%;
        left: 2%;
        padding-left: .5em;
        padding-right: .5em;
    }

    h2{
        font-size: .9em;
        padding: 5px 0;
        background-color: green;
        width:86%;
        margin-left: 1%;
    }
    #spanco {
        background-color: transparent;
        margin: 0 0 0 2%;
        padding: .5em .3em;
        color: white;
    }
    #exit{
        top: -.3em;
        right: -.1em;
        font-size: 1.5em;
    }
    #botones {
        position: relative;
        padding: 0;
        text-align: center;
        top: -.5em;
    }
    #botones button{
        display: inline-block;
        min-width: 16em;
        margin-top: 1.2em;
    }
    article#tabla{
        margin-left: -1em !important;
        margin-right: -1em !important;
        min-width: 20em !important;
    }
    .marco {
        width: 135%;
    }
    #form1{
        padding-right:0;
    }
}
    


